<section class="clearfix">
	<div class="box promo" id="register-promo">
		<a href="#">
		<div class="inner">
			<h5>Regisztráljon!</h5>
			<ul>
				<li>&diams; Gyorsabb vásárlás &diams;</li>
				<li>&diams; Törzsvásárlói program &diams;</li>
				<li>&diams; Ajándéklista &diams;</li>
			</ul>
		</div>
		</a>
	</div>

	<div class="box promo" id="newsletter-promo">
		<a href="">
			<div class="inner">
				<h5><span>Hírlevél</span></h5>
				<p>Minden feliratkozónak <span>2000 Ft</span> értékű kupon!</p>
			</div>
		</a>
	</div>

	<div class="box promo" id="loyalty-promo">
		<a href="">
			<div class="inner">
				<p>3% jóváírás minden vásárlás után - csak regisztrálni kell</p>
			</div>
		</a>
	</div>

	<div class="box promo" id="guarantee-promo">
		<a href="">
			<div class="inner">
				<p>10 év garancia <br /> ülőgarnitúráinkra </p>
			</div>
		</a>
	</div>

	<div class="box promo" id="store-promo">
		<a href="">
			<div class="inner">
				<h5>Vásárlás előtt kipróbálná?</h5>
				<div>
					<a href="#">Szabadság téri üzletünk</a>
					<p>Hétfő - Vasárnap 10:00 - 20:00</p>
				</div>
				<div>
					<a href="#">Krisztina Palace-i üzletünk</a>
					<p>Hétfő - Vasárnap 10:00 - 20:00</p>
				</div>
			</div>
		</a>
	</div>
</section>

<div class="box full list" id="power-recliner">
	<h3>Power recliner technology</h3>	
	<ol>
		<img src="http://placekitten.com/500/400" alt="">
		<li><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus</li>
		<li><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus</li>
		<li><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus</li>
		<li><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus</li>
		<li><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus</li>
	</ol>
</div>
<section class="clearfix">
	<div class="box third first" id="gif">
		<%= image_tag "gif.gif" %>
	</div>
</section>
	<div class="box promo">
		<iframe width="420" height="315" src="http://www.youtube.com/embed/WjyQGqfPHKM" frameborder="0" allowfullscreen></iframe>
	</div>