<div id="summary-wrap">
	<div id="cart-summary">
		<div class="section">
			<h5>Rendelés összesítő</h5>
			<p>Rendelés összege <span class="price"><span><%= cart_subtotal %></span> Ft</span></p>
			<p>Szállítási költség <span class="price"><span><%= cart_shipping %></span> Ft</span></p>
			<p class="total">Összesen <span class="price"><span><%= cart_shipping + cart_subtotal %></span> Ft</span></p>
		</div>
		<div class="section">
			<h5>Just ask</h5>
			<p class="phone">06-1-200-330</p>
			<a href="#">How do I do that?</a>
			<a href="#">What about shipping?</a>
			<a href="#">What about shipping?</a>
		</div>
	</div>
</div>