<p id="notice"><%= notice %></p>

<section id="cart" class="box full clearfix">
	<div id="cart-top" class="clearfix">
		<h3>Kosarad tartalma</h3>
		<% render 'cart/register_cta' unless current_user %>
	</div>
		<p class="empty-cart">Kosara üres! Nézze meg mások mit vásároltak! </p>
</section>

<%= render :partial => "home/product_slider_full_big", :locals => {:title => "Mások ezt vették", :id => "cart-slider", :products => Product.order("updated_at").limit(10)} %>

<div class="clearfix" id="info">
	<section class="box third" id="payment-options">
		<h3>Fizetési lehetőségek</h3>
		<p><span class="lead">Lorem ipsum dolor sit amet,</span> consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus.</p>
	</section>

	<section class="box third mid" id="delivery-options">
		<h3>Szállítási információk</h3>
		<p><span class="lead">Lorem ipsum dolor sit amet,</span> consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus.</p>
	</section>

	<section class="box third last" id="faq-links">
		<h3>Biztonságos shopping</h3>
		<p><span class="lead">Lorem ipsum dolor sit amet,</span> consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. <a href="#">több infó</a></p>
	</section>
</div>