<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Megrendelésének állapota változott!</h1>
    <p>Jelenleg: <%= @order.status %></p>
  </body>
</html>