<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="background-image:url(www.flairspring.hu/regisztracio_blank.jpg);">
    <p>Kedves  <%= @user.title_name + " " + @user.first_name + " " + @user.last_name %>!  Regisztrációja sikeresen megtörtént Flairspring webshopján (www.flairspring.hu).</p>
    <p>A következő adatokkal regisztráltuk felhasználói profilját:</p>
    <p>Email cím: <%= @user.email %></p>
    <p>Mostantól a nap bármelyik órájában vásárolhat online boltunkban, ahol keresőrendszerünk segítségével néhány kattintással kiválaszthatja otthonába a stílusban, méretben vagy formában legjobban odaillő bútort, lakberendezési kiegészítőt.</p>
    <p>Kívánságlista funkciónkkal pedig összeállíthatja ajándéklistáját vagy akár kedvenc enteriőrje berendezési tárgyait gyújtheti egy csokorba</p>
    <p>Kívánságlistáját megoszthatja ismerőseivel, barátaival is!</p>
    <p>Köszönjük regisztrációját, kellemes vásárlást kívánunk!</p>
    <p>Üdvözlettel:</p>
    <p>Flairspring</p>
    <p>ugyfelszolgalat@flairspring.hu</p>
  </body>
</html>