<div id="guest-box">
	<h4>Először vásárol nálunk?</h4>
	<p>Folytassa a vásárlást<span class="lead"> vendégként</span>. A megrendelés után lehetősége van <span class="lead">regisztrálni</span> a megadott adatokkal.</p>
	<a href="/checkout/billing_shipping">Fizetés</a>
</div>