<div id="guest-box">
	<h4>Először vásárol webshopunkban?</h4>
	<p>Lehetősége van vendégként vásárolni. Természetesen a vásárlás végén lehetősége van a megadott adatokkal regisztálni is.</p>
	<a href="/checkout/billing_shipping">Számlázás és szállítás</a>
</div>
