<section id="checkout" class="box full clearfix">
	<h3 id="top">Fizetés &amp; Szállítás <!--span id="secure">Secure connection</span--></h3>
	<ol id="steps" class="clearfix">
		<li>Bejelentkezés</li>
		<li class="active">Számlázás &amp; Szállítás</li>
		<li>Ellenőrzés &amp; Fizetés</li>
	</ol>
	<%= render "cart/summary" %>
	<%= render "users/shipping" %>
</section>