
<div>
	<%= image_tag "headers/checkout_header.png", :id => "header-image" %>
</div>
<section id="checkout" class="box full clearfix">
	<ol id="steps" class="clearfix">
		<li id="login-step">Bejelentkezés</li>
		<li id="shipping-step" class="active">Számlázás és Szállítás</li>
		<li id="payment-step">Ellenőrzés és Fizetés</li>
	</ol>
	<div id="csik-div">
		<%= image_tag "csik2.png", :id => "csik" %>
	</div>
	<h3 id="top">Számlázás és Szállítás</h3>
	<%= render "cart/summary" %>
	<%= render "users/shipping" %>
</section>