<section id="checkout" class="box full clearfix">
	<ol id="steps" class="clearfix">
		<li id="login-step">Bejelentkezés</li>
		<li id="shipping-step" class="active">Számlázás &amp; Szállítás</li>
		<li id="payment-step">Ellenőrzés &amp; Fizetés</li>
	</ol>
	<h3 id="top">Fizetés &amp; Szállítás</h3>
	<%= render "cart/summary" %>
	<%= render "users/shipping" %>
</section>