<section id="checkout" class="box full clearfix">
	<ol id="steps" class="clearfix">
		<li>Bejelentkezés</li>
		<li>Számlázás &amp; Szállítás</li>
		<li class="active">Ellenőrzés &amp; Fizetés</li>
	</ol>
	<h3 id="top">Ellenőrzés &amp; Fizetés</h3>
	<%= render "cart/summary" %>
	<%= render "payment_form"%>
</section>