<section id="checkout" class="box full clearfix">
	<ol id="steps" class="clearfix">
		<li class="active">Bejelentkezés</li>
		<li>Számlázás &amp; Szállítás</li>
		<li>Adatok ellenőrzése &amp; Fizetés</li>
	</ol>
	<h3 id="top">Bejelentkezés</h3>
	<div class="clearfix">
		<%= render :partial => "users/login", :locals => { :logintext => ", hogy mentett adataival vásárolhasson", :resource => resource } %>
		<%= render "guest" %>
	</div>
</section>