<section id="checkout" class="box full clearfix thankyou">
	<h3>Köszönjük!</h3>
	<h4>Vásárlása sikeresen befejeződött!</h4>
	<%= render "orders/order_table" %>
	<div class="promo">
		<p>Regisztráljon megadott adataival. Regisztrált vásárlóink az adatok újbóli megadása nélkül <em>vásárolhatnak</em>, és <em>egyedi ajánlatokban</em> részesülnek!</p>
		<a href="#">I wanna</a>
	</div>
</section>