<section id="checkout" class="box full clearfix thankyou">
	<h3>Köszönjük!</h3>
	<h4>Vásárlása sikeresen befejeződött!</h4>
	<%= render "orders/order_table" %>

	<% unless current_user %>
		<div class="promo">
			<p>Regisztráljon megadott adataival. Regisztrált vásárlóink az adatok újbóli megadása nélkül <em>vásárolhatnak</em>, és <em>egyedi ajánlatokban</em> részesülnek!</p>
			<a id="lazy-registration" href="#">Regisztrálok</a>
		</div>
	<% end %>
	<div id="bottom-links" class="promo">
		<div id="back-to-home"><a href="/">Vissza a kezdőlapra</a></div>
		<div id="magazine"><a href="http://blog.flairspring.hu">Tovább magazinunkhoz</a></div>
	</div>
</section>