<div id="register-cta-box">
	<h4>Regisztráció</h4>
	<p><span class="lead">Regisztráció</span> után gyorsabban vásárolhat webáruházunkban és egyedi ajánlatokban részesülhet.</p>
	<a href="/register" class="button blue">Regisztráció</a>
</div>