<section id="account" class="box full clearfix">
	<h3 id="top">Felhasználói fiókom <span class="username">kis_aladar@gmail.com</span></h3>
	<div class="clearfix">
		<div id="loyalty">
			<p>Önnek eddig a</p>
			<h4>Törzsvásárlói programban</h4>
			<p id="loyalty-sum">257 932 Ft-ja</p>
			<p>gyűlt össze, melyet bármikor beválthat tetszőleges vásárlásra a <a href="/cart">kosár oldalon</a> található gomb segítségével.</p>
		</div>
		<div id="edit-data">
			<h4>Adatmódosítás</h4>
			<p>Alapértelmezett szállítási címe: 1101 Garibaldi utca 123/1</p>
			<p>Alapértelmezett fizetési módja: Banki átutalás</p>
			<p>A számlát: Kis Aladár nevére állítjuk ki</p>
			<a href="#" class="button blue">Adatmódosítás</a>
		</div>
	</div>
	<div class="table-wrap">
		<h4>Rendeléseim</h4>
		<table id="orders-table" class="user-table">
			<thead>
				<tr>
					<th>Rendelési kód</th>
					<th>Állapot</th>
					<th>Rendelés Dátuma</th>
					<th>Becsült érkezés</th>
					<th>Végösszeg</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="5">&nbsp;</td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td><a class="fancybox ajax" href="/orders/1">xyz-123</a></td>
					<td><span class="status delivered">Kiszállítva</span></td>
					<td>December 12, 2011</td>
					<td>December 16, 2011</td>
					<td>125 000 Ft</td>
				</tr>
				<tr>
					<td><a class="fancybox ajax" href="/products/quicklook/1">xyz-123</a></td>
					<td><span class="status delivered">Kiszállítva</span></td>
					<td>December 12, 2011</td>
					<td>December 16, 2011</td>
					<td>125 000 Ft</td>
				</tr>
				<tr>
					<td><a class="fancybox ajax" href="/products/quicklook/1">xyz-123</a></td>
					<td><span class="status delivered">Kiszállítva</span></td>
					<td>December 12, 2011</td>
					<td>December 16, 2011</td>
					<td>125 000 Ft</td>
				</tr>
				<tr>
					<td><a class="fancybox ajax" href="/products/quicklook/1">xyz-123</a></td>
					<td><span class="status delivered">Kiszállítva</span></td>
					<td>December 12, 2011</td>
					<td>December 16, 2011</td>
					<td>125 000 Ft</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="table-wrap">
		<h4>Ajándéklistám</h4>
		<table id="whishlist-table" class="user-table">
			<thead>
				<tr>
					<th>Termék</th>
					<th>Állapot</th>
					<th>Ára</th>
					<th>Műveletek</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="4">&nbsp;</td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td><a rel="group" class="fancybox ajax" href="/products/quicklook/1">Termék neve</a></td>
					<td><span class="status delivered">Még nem vették meg neked :(</span></td>
					<td>12 000 Ft</td>
					<td><a href="#">törlés</a></td>
				</tr>
				<tr>
					<td><a href="#">121-asd</a></td>
					<td><span class="status delivered">Kiszállítva</span></td>
					<td>December 12, 2011</td>
					<td>125 000 Ft</td>
				</tr>
				<tr>
					<td><a href="#">121-asd</a></td>
					<td><span class="status delivered">Kiszállítva</span></td>
					<td>December 12, 2011</td>
					<td>125 000 Ft</td>
				</tr>
				<tr>
					<td><a href="#">121-asd</a></td>
					<td><span class="status delivered">Kiszállítva</span></td>
					<td>December 12, 2011</td>
					<td>125 000 Ft</td>
				</tr>
			</tbody>
		</table>
	</div>

</section>