<%= stylesheet_link_tag("users") %>

<section id="reglogin" class="box full clearfix">
	<h3 id="top">Regisztráció és belejelentkezés <!-- span id="secure">Secure connection</span--></h3>
	
	<div class="clearfix">
		<%= render :partial => "users/login", :locals => { :logintext => "a vásárlás folytatásához", :resource => resource } %>
		<%= render "users/register-cta", :locals => { :resource => resource} %>
	</div>
	<p>Regisztráció után lehetősége van összeállítani saját kívánságlistáját, amelyet akár meg is oszthat ismerőseivel.</p>
</section>

<div id="advantages">
	<section class="third">
		<h3>Kívánságlista</h3>
		<p>
			<span class="lead">Regisztrált vásárlóink</span> saját kívánságlistát hozhatnak létre
		</p>
	</section>
	<section class="third mid">
		<h3>Gyorsabb vásárlás</h3>
		<p>
			A regisztrációt követően nem szükséges minden alkalommal megadnia megrendeléshez szükséges adatait.
		</p>
	</section>
	<section class="third last">
		<h3>Egyéni ajánlatok</h3>
		<p>
			Regisztrált vásárlóink kizárólagos kedvezményekben részesülnek, és vásárlásaik összege után 3%-ot jóváírunk a számláján törzsvásárlói programunk keretében. A vásárlások utáni kedvezmény a következő vásárlások folyamán bármikor beváltható.
		</p>
	</section>
</div>