<section id="register" class="box full clearfix">
	<h3 id="top">Register <span id="secure">Secure connection</span></h3>
	
	<form action="#" id="register-form">
		<div class="block">
			<h5>Account info</h5>
			<fieldset>
				<label for="register-email">Email</label>
				<input type="email" name="regsiter-email" id="register-email" />
				<a href="#" title="Ezzel tudsz majd bejelentkezni" class="tooltip">?</a>
			</fieldset>
			<fieldset>
				<label for="register-password">Jelszó</label>
				<input type="password" name="regsiter-password" id="regsiter-password" />
			</fieldset>
			<fieldset>
				<label for="register-password-re">Jelszó újra</label>
				<input type="password" name="regsiter-password-re" id="regsiter-password-re" />
			</fieldset>
		</div>
		<div class="block">
			<h5>Delivery info 	<a href="#" title="Alternatív címeket a profil oldalon adhat hozzá" class="tooltip">?</a></h5>
			<fieldset>
				<label for="register-zip">Irányítószám</label>
				<input type="text" name="regsiter-zip" id="register-zip" />
			</fieldset>
			<fieldset>
				<label for="regsiter-city">Város</label>
				<input type="text" name="regsiter-city" id="register-city" />
			</fieldset>
			<fieldset>
				<label for="register-address">Cím</label>
				<input type="text" name="regsiter-address" id="register-address" />
			</fieldset>
		</div>
		<div class="block">
			<h5>Billing info</h5>
			<fieldset>
				<label for="billing-zip">Irányítószám</label>
				<input type="text" name="billing-zip" id="billing-zip" />
			</fieldset>
			<fieldset>
				<label for="regsiter-city">Város</label>
				<input type="text" name="billing-city" id="billing-city" />
			</fieldset>
			<fieldset>
				<label for="billing-address">Cím</label>
				<input type="text" name="billing-address" id="billing-address" />
			</fieldset>
		</div>
		<div class="block">
			<fieldset>
				<label for="register-newsletter">Szeretnék hírlevelet<input type="checkbox" name="register-newsletter" id="register-newsletter" /></label>
			</fieldset>	
			<filedset>
				<input type="submit" value="Regsiztrálok" />
			</filedset>
		</div>
	</form>
	
</section>