<div id="blog-promo" class="half">
		<h3>Blogunk</h3>
		<em>amíg megnyitunk <span>nézze meg</span></em>
		<p>a <a class="blog" href="http://blog.flairspring.hu">Flairpsring blogot</a> a legfrisebb hírekért</p>
</div>
