<div id="contact-promo" class="half">
	<h3>Contact us for advice</h3>
	<p><em>flairspring buda</em> H-P: 10-18 Szo-V: 12-16 <a href="http://www.googlemaps.com">1188 Budapest, Ady Endre utca 1</a> </p>
	<p><em>flairspring pest</em> <a href="http://www.googlemaps.com">1128 Budapest, Gavellér utca 2/b</a></p>
	<p class="half left"><em>email</em>info@flairspring.com</p>
	<p class="half"><em>support</em>+36-30-123-1231</p>
</div>
