<div id="newsletter-promo" class="half">
		<h3><%= t('.newsletter') %></h3>
		<p>Iratkozzon fel hírlevelünkre</p>
		<p>És megajándékozzuk egy 2000 Ft értékű kuponnal</p>
		<a href="http://eepurl.com/jS0aD" id="newsletter-button">Feliratkozom</a>
	</div>
