<section class="box third" id="register_ad">
	<div class="text">
		<h4>Regisztráljon!</h4>
		<p>A Flairspring minden regisztrált vásárlója többek között a következő előnyöket élvezheti! </p>
		<ul>
			<li>♦ Törzsvásárlói program ♦</li>
			<li>♦ Gyorsabb vásárlás ♦</li>
			<li>♦ Ajándéklista ♦</li>
		</ul>
		<a href="#">Regisztrálok</a>
	</div>
</section>
