<section class="box third" id="store_ad">
		<h3>Vásárlás előtt kipróbálná?</h3>
		<a href="http://g.co/maps/eubnb"><img src="http://maps.google.com/maps/api/staticmap?center=47.505178,19.050497&zoom=15&markers=47.505178,19.050497&size=250x150&sensor=true" alt=""></a>
		<div>
			<p>A termék megtekinthető <a href="http://g.co/maps/eubnb">szabadság téri üzeltünkben!</a></p>
		</div>
</section>
