<section class="box third" id="design_ad">
	<div class="inner">
		<div class="text">
			<h5>Ingyenes lakberendezési tanácsadás!</h5>
			<p>Tel.: +36-30-375-8600</p>
			<p>Email: <a href="mailto:info@flairspring.hu">info@flairspring.hu</a></p>
		</div>		
	</div>
</section>
