<section class="box third" id="loyalty_ad">
	<div class="text">
		<h4>Flairspring</h4>
		<h5>törzsvásárlói program</h5>
		<span class="s">%</span>
		<p>Regisztrált vásárlóink a vásárlások 3%-át levásárolhatják!</p>
	</div>
</section>
