<div id="shops-promo" class="half">
	<h3>Nézzen be boltunkba!</h3>
	<p>Flairspring Pest <a href="http://g.co/maps/eubnb">1054 Budapest, Szabadság tér 14</a></p>
	<p>Nyitvatartás: H-P : 10-20, Szo-V : 10-18 </p>
	<p>Flairspring Buda - hamarosan <a href="http://goo.gl/maps/O852">1121 Budapest, Nagyenyed u. 8-14.</a></p>
	<p><a href="mailto:info@flairspring.hu">info@flairspring.hu</a></p>
	<p>+36-30-375-8600</p>
</div>

