<div id="blog-promo" class="half">
		<h3>Aktualitások</h3>
		<em>a legfrisebb akciókért <span>kövessen</span></em>
		<p> <a href="https://twitter.com/#!/Flairspring" class="twitter">Twitteren</a> és <a class="facebook" href="http://www.facebook.com/flairspring">Facebookon</a></p>
</div>
