<table class="order-table" width=100%>
		<thead>
			<tr>
				<th colspan="2">e-Receipt</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<!-- Ennek változnia kell ha pickup-ol és nem kiszállítatt -->
				<td colspan="2">We have sent you a copy of this to: <span class="email">example@example.com</span>. We'll keep you updated on the shipping via this email.</td>
			</tr>
		</tfoot>
		<tbody>
			<tr class="info">
				<td>Order id</td>
				<td class="right">asd-123a</td>
			</tr>
			<tr class="info">
				<td>Tracking code</td>
				<td class="right">gasjid-123-esd</td>
			</tr>
			<tr class="info last">
				<td>Estimated arrival</td>
				<td class="right">2012 March 12 </td>
			</tr>
			<tr>
				<td>1db uttermost chair (sku), piros, nagy </td>
				<td class="right">12 000 Ft</td>
			</tr>
			<tr>
				<td>2db surya kárpit (sku), ződ </td>
				<td class="right">26 500 Ft</td>
			</tr>
			<tr>
				<td>
					Ajándék csomagolás
				</td>
				<td class="right">Ingyenes</td>
			</tr>
			<tr>
				<td>
					Szállítás
				</td>
				<td class="right">
					Ingyenes
				</td>
			</tr>
			<tr>
				<td><strong>Total</strong></td>
				<td class="right"><strong>123 000 Ft</strong></td>
			</tr>
		</tbody>
	</table>
