.order-table{
		border:1px solid $gray;
		margin-top:40px;
		tr{
			height:25px;
			line-height:25px;
			&.info{
				
				&.last{
					border-bottom:1px solid;
				}
			}
			td,th{
				padding:5px;
			}
		}
	}
	thead{
		tr{
			border-bottom:1px solid;
		}
	}
	tbody{
		td{
			text-align:left;
		}
		td.right{
			text-align:right;
		}
	}
	tfoot{
		tr{
			border-top:1px solid;
			
		}
		.email{
			
			font-style:italic;
		}
	}