#product-modal{
	color:$text-brown2;
	width:760px;
	min-height:400px;
	margin:0 auto;
	position:relative;
	.img{
		max-width:250px;
		}
	.left,.right{
		float:left;
	}
	.left{
		width:260px;
		padding:10px;
		text-align:center;
	}
	.right{
		width:460px;
		padding:10px;
		min-height:280px;
	}
	.button{
		@include orange-button;
		float:right;
		margin:10px;
		position:relative;
		z-index:10100000;
		position:absolute;
		bottom:0;
		right:0;
	}
	td{
		width:260px;
		height:300px;
		vertical-align:middle;
	}
}

#price p{
	line-height:1.4;
	font-size:22px;
	color:$text-brown2;
	margin-bottom:5px;
	span{
		font-size:24px;
	}
	&.list-price span{
		text-decoration:line-through;
	}
	&.discount-price span{
		color:$orange;
	}
}

#properties-box{
	padding-top:20px;
	p{
		line-height:2;
		label{
			float:left;
			width:235px;
			margin-right:20px;
		}
	}
}

#short-description{
	padding-top:20px;
	padding-bottom:20px;
	margin:20px 0;
	border-top:1px solid $border-gray;
	border-bottom:1px solid $border-gray;
	line-height:1.5;
}


#product-title{
	background: url(csill.png) no-repeat 470px center $background-green;
	font-weight:normal;
	border-left:10px solid $orange;
	padding:10px;
	color:$text-brown2;
	h2{
		font-size:18px;
		font-weight:normal;
		text-transform:uppercase;
		.sku{
			font-size:12px;
			float:right;
			text-transform:lowercase;
			padding-top:10px;
		}
	}
}

#modal-next,#modal-prev{
	text-indent:-9999em;
	position:absolute;
	right:-35px;
	top:50%;
}

#modal-prev{
	left:-35px;
}

#product-modal-wrap{
	display:none;
}