@import '_product_modal.css.scss';

.no-touch .quicklook{
	opacity:0;
	top:5px;
}

.touch .quicklook{
	opacity:1;
	top:5px;
}

.ribbon{
	height:35px;
	position:absolute;
	left:-1px;
	z-index:2;
	top:10px;
	p{
		float:left;
		background:$orange;
		color:white;
		font-weight:normal;
		text-transform:uppercase;
		height:30px;
		line-height:30px;
		padding:0 5px !important;
		@include orange-button-right(30px);
		
	}
}

.product{
	border:1px solid #bab7b3;
	padding:22px;
	margin:20px 36px 0px 0px;
	position:relative;
	text-align:right;
	
	&.last{
		margin:20px 0px 0px 0px;
	}
	.quicklook{
		position:absolute;
		z-index:1;
		color:white;
		top:10px;
		right:5px;
		height:16px;
		line-height:16px;
		padding-right:30px;
		display:block;
		background-image:url(quicklook.png);
		background-repeat:no-repeat;
		background-position:center right;
	}
	&:hover .quicklook{
		opacity:1;
	}
	&:hover{
	
	}
}

.product{
	float:left;
	width:175px;
	height:255px;
	a{
		text-decoration:none;
		display:block;
	}
	.name{
		font-weight:normal;
		color:$text-brown;
	}
	.price{
		text-decoration:none;
		font-size:13px;
		color:$text-green;

		.old-price{
			font-weight:normal;
			text-decoration:line-through;
		}
	}
	.image{
		overflow:hidden;
		position:relative;
		height:185px;
		margin:0 auto;
		margin-bottom:5px;
		border-bottom:1px solid #bab7b3;
		text-align:center;
	}
	td{
		height:185px;
		width:175px;
		vertical-align:middle;
	}
	img{
		max-height:175px;
		max-width:175px;
		//@include transition-03s;
		z-index:1;
	}
	p{
		//@include font-gill;
		padding:2px;
	}
}