@import '_mixins.css.scss';

p.empty-cart{
	font-size:18px;
	margin-top:20px;
	color:$text-brown2;
}

#cart{
	border-bottom:1px solid #e3e4e0;
	padding-bottom:20px;
	margin-bottom:20px;
}

#cart-top{
	border-bottom:1px solid $border-gray;
	padding-bottom:20px;
	h3{
		float:left;
		background:url(green_arrow_right_long.png) no-repeat;
		width:300px;
		padding-left:13px;
		height:28px;
		color:white;
		font-size:14px;
		line-height:28px;
		font-weight:normal;
		margin:20px 0;
	}
	.right{
		float:right;
		font-weight:normal;
		a{
			@include small-caps;
			color:$brand-lightblue;
			@include transition-03s;
			&:hover{
				color:$brand-darkblue;
			}
		}
	}
}

#cart-table{
	width:100%;
	
	.cell-names{
		color:#A9A9A9;
		font-size:12px;
		padding:10px 5px;
	}
	
	
	.discount-cell{
		font-size:14px;
	}
	.discount-element{
		margin:5px 0;
		display:block;
	}
	
	
	.sum-price-cell{
		width:130px;
	}
	input[type="number"]{
		width:55px;
	}
	.quantity-cell{
		width:100px;
	}
	
	.product-cell{
		width:120px;
		vertical-align:middle;
		text-align:center;
		img{
			max-width:50px;
			max-height:50px;
			margin-right:10px;
		}
		h6{
			font-weight:normal;
			color:#705f53;
			text-transform:uppercase;
			font-size:13px;
			margin-top:5px;
			line-height:1.2;
		}
	}
	
	thead{
		th{
			padding:10px 5px;
			background:#a5a99a;
			font-weight:normal;
			text-align:left;
			font-size:12px;
			color:$text-brown2;
		}
	}
	tbody{
		td{
			padding:20px 10px;
			vertical-align:middle;
			color:#705f53;
		}
		
		
		.multiply-cell,.equals-cell{
			width:10px;
			color:#adadad;
			font-size:16px;
		}
		
		
		.property-cell{
			font-size:14px;
			p{
				margin:5px 0;
				line-height:1;
			}
		}
		.property{
			
		}
		
		.price-cell,.sum-price-cell{
			
			font-size:16px;
		}
		.price-cell{
			width:70px
		}
		.actions-cell{
			text-align:center;
			width:5px;
		}
	}
}

//sima-hover-active

.delete{
	display:block;
	text-indent:-9999px;
	width:20px;
	height:20px;
	background:url(x.png) 0 0 no-repeat;
	&:hover{
		background-position:-21px 0px;
	}
	&:active{
		background-position:-42px 0px;
	}
}

#cart-bottom{
	margin-top:20px;
	background:#e3e4e0;
	padding:20px;
}

#coupon{
	float:left;
	width:250px;
	label{
		display:block;
		margin-bottom:10px;
		color:#3c2514;
		text-transform:uppercase;
	}
	input[type="text"]{
		border: 1px solid #C2C2C2;
		margin: 0;
		padding: 0;
		-webkit-appearance: textfield;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
		height: 20px;
		font-size: 16px;
		padding: 2px;
		float:left;
		width:100px;
	}
	.button{
		@include orange-button;
		font-size:12px;
		padding:6px 5px;
		float:left;
		margin-left:5px;
	}
	div{
		overflow:hidden;
	}
	span{
		float:left;
		height:26px;
		line-height:26px;
		font-size:20px;
		margin-right:10px;
	}
}

#total{
	width:610px;
	float:left;
	text-align:right;
	position:relative;
	p{
		padding-left:350px;
		overflow:hidden;
		line-height:2;
	}
	span,b{
		font-weight:normal;
		margin:3px;
		font-size:18px;
	}
	.subtotal,.shipping-cost{
	}
	b{
		float:left;
	}
	.total-price{
		color:$red;
		font-size:18px;
	}
	
	#total-price{
		color:$red;
		font-size:18px;
	}
}

#checkout-form{
	margin-top:20px;
	float:right;
	input[type="submit"]{
		@include orange-button;
		font-size:20px;
	}
	a{
		text-decoration:none;
		color:#705f53;
	}
}

.loy{
	margin-top:20px;
}

#info{
	border-bottom:1px solid #e3e4e0;
	padding-bottom:20px;
	margin-bottom:20px;
	overflow:hidden;
	.box{
		width:320px;
		margin-right:10px;
		float:left;
		&.last{
			margin-right:0;
		}
		h3{
			text-transform:uppercase;
			background:#ced0c8;
			color:$orange;
			font-weight:normal;
			padding:10px;
			font-size:16px;
			margin-bottom:10px;
		}
		p{
			color:$text-brown2;
			line-height:1.5;
			font-size:14px;
			padding: 0 10px;
		}
	}
}
@import "_sliders.css.scss";
@import "_simple_footer.css.scss";