@import '_mixins.css.scss';

.chead{
	margin-bottom:20px;
	position:relative;
	display:block;
	h3{
		position: absolute;
		bottom:30px;
		background:url(red_arrow_right_big.png) no-repeat;
		width:232px;
		height:78px;
		color:white;
		text-transform:uppercase;
		padding-left:30px;
		line-height:78px;
		font-weight:normal;
	}
}

#sidebar{
	width:235px;
	float:left;
	margin-right:10px;
}

#category-nav{
	min-height:500px;
	ul{
		margin-bottom:20px;
		background:#e6e6e6;
	}
	h3{
		background:$background-green;
		font-size:16px;
		font-weight:normal;
		@include font-gill;
		font-weight:normal;
		border-left:10px solid $orange;
		padding:10px;
		color:$text-brown2;
	}
	li{
		line-height:1.5;
		color:$text-brown2;
		padding:10px 20px;
		padding-left:30px;
		margin-left:10px;
		background: url('jelolo.png') no-repeat center left;
		a{
			color:$text-brown2;
			text-decoration:none;
		}
	}
}

#product-modal-wrap{
	display:none;
}

#tab-wrap{
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom: 1px solid #E3E4E0;
}

.etabs {
	margin: 0;
	padding: 0;
	overflow:hidden;
}
.tab { 
	 float:left;
	 background: #bcb7ae;
	 -moz-border-radius: 2px;
	 -webkit-border-radius: 2px;
	 border-radius: 2px;
	 width:160px;
	 margin-right:4px;
	 &:last-child{
	 	margin-right:0;
	 }
}

.tab a { 
	 color:$text-brown;
	 display: block;
	 padding: 10px;
	 outline: none;
	 text-decoration:none;
}

.tab a:hover { 
	text-decoration: underline;
}

.tab.active {
	background:#8f8b84;
}

.tab a.active {
	font-weight: bold;
}

.tab-container .panel-container {
	background: #fff;
	border: solid #666 1px; 
	padding: 10px; 
}

.tab-div{
	// min-height:300px;
	line-height:300px;
	text-align:center;
	font-size:60px;
	background:#e6e6e6;
	height: 745px;
}

#promos{
	margin:20px 0;
	a{
		text-decoration:none;
	}
	.promo{
		float:left;
		h3{
	  		background-color: transparent;
	  		background-color: rgba(52, 67, 67, 0.4); 
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66344343,endColorstr=#66344343);
	        zoom: 1;
	        @include font-gill;
			font-size: 18px;
			padding: 10px;
			color:$text-brown;
			font-weight: normal;
		}
	}
}

#sub-list{
	margin-left:10px;
	width:725px;
	float:left;
	overflow:hidden;
	a{
		display:block;
		text-decoration:none;
	}
	.sub{
		width:228px;
		float:left;
		height:194px;
		margin-bottom:20px;
		margin-right:20px;
		position:relative;
		&:nth-child(3n){
			margin-right:0;
			
		}
		h3{
	  		background-color: transparent;
	  		background-color: rgba(52, 67, 67, 0.4); 
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66344343,endColorstr=#66344343);
	        zoom: 1;
	        @include font-gill;
			font-size: 18px;
			padding: 10px;
			color:$text-brown;
			font-weight: normal;
			position:absolute;
			width:208px;
		}
	}
}

/* Promó dobozok */

#category-fotelek{
	

	#hintazo-promo{
		width:350px;
		height:200px;
		background: url(category/fotelek/hinta.png) no-repeat right 30px white;
		margin-right:10px;
	}

	#magaslabu-promo{
		width:250px;
		height:200px;
		background: url(category/fotelek/magaslab.png) no-repeat center 30px white;
		margin-right:10px;
	}

	#masfel-promo{
		width:350px;
		height:200px;
		background: url(category/fotelek/masfel.png) no-repeat center 30px white;
		margin-right:10px;
	}

	#utm-promo{
		width:500px;
		height:200px;
		background: url(category/fotelek/utm.png) no-repeat center 50px white;
		margin-right:10px;
	}

	#bor-promo{
		width:470px;
		height:200px;
		background: url(category/fotelek/bor.png) no-repeat center 20px white;
	}
}