@import '_mixins.css.scss';
@import '_form.css.scss';
@import '_login.css.scss';
@import '_shipping.css.scss';

#back-to-home{
	float:left;
}

#magazine{
	float:right;
}

span.orange{
	color:$orange;;
}

#payment_billing_zip, #payment_shipping_zip{
	width: 100px !important;
}

#payment_shipping_city{
	margin-left: 4px;
	width: 343px;
}

#billing_last_name{
	width:403px;
}

#payment_billing_city{
	width: 342px;
}

#payment_email,#payment_phone,#payment_shipping_name,#payment_shipping_additional,#payment_billing_name,#payment_billing_additional{
	width: 475px !important;	
}

#billing_city_div{
	margin-left: 17px;
}

#payment_first_name_label{
	margin-top: 10px;	
}

#csik{
	width: 505px;
	position:relative;
	left: -10px;
}

#csik-div{
	text-align: center;
	position:relative;
	top: -50px;
}

#checkout{
	position:relative;
	padding-top:20px;
	padding-bottom:20px;
}

#header-image{
	margin-top: 10px;
}

.wr{
	margin:0 auto;
	width:900px;
}

#top{
	width:130px;
	padding-bottom:20px;
	background:#d2d1d1;
	color:$text-brown;
	padding:10px 20px;
	margin-bottom:10px
}

form{
	clear:both;
}

#steps{
	clear:both;
	margin:20px auto 50px auto;
	width:660px;
	text-align:center;
	li{
		float:left;
		padding:0px 30px 10px 30px;
		color:#afafaf;
		font-style:italic;
		// border-bottom:1px solid $gray;
		&.active{
			color:black;
			font-weight:bold;
		}
	}
}

.forgot{
	text-align:center;
}

#guest-box{
	background:#f9f9f9;
	padding:20px;
	width:400px;
	margin-top:20px;
	margin-bottom:20px;
	height:330px;
	float:left;
	text-align:center;
	h4{
		text-align:center;
		font-size:24px;
		font-style:italic;
		margin-bottom:20px;
		margin-top:0;
	}
	p{
		font-style:italic;
		text-align:center;
		margin-bottom:40px;
		.lead{
			font-style:normal;
		}
	}
	a{
		@include orange-button;
	}
}

#summary-wrap{
	position:absolute;
	right:40px;
	width:250px;
	height:300px;
}

#cart-summary{
		width:280px;
		height:200px;
		position:absolute;
		top:0;
		&.fixed{
			position:fixed;
			top:0;
		}
		.section{
			border:1px solid $border-gray;
			background:white;
			padding:10px;
			margin-top:20px;
			h5{
				text-transform:uppercase;
				color:$orange;
				text-align:center;
				margin-bottom:20px;
			}
			a{
				font-size:14px;
				margin:15px 0;
				display:block;
				color:$text-brown2;
			}
			p{
				margin:5px 0;
				font-size:14px;
				.price{
					float:right;
				}
				&.total{
					border-top:1px solid $gray;
					padding-top:5px;
					color:$orange;
				}
				&.phone{
					font-size:20px;
					text-align:center;
					font-style:italic;
					margin-top:-10px;
				}
			}
		}
}

#gift-label,#gift_wrap{
	float:left;
}

#gift-label{
	margin-left:10px;
}

input[type="radio"]{
	float:left;
}

#payment_same,#same_l{
	float:left;
}

#personal_pickup,#payment_personal_pickup{
	float:left;
}

.right-label{
	float:left;
	margin-left:10px;
}

.step-back{
	float:right;
	font-size:12px;
	margin-top:18px;
	color:$text-brown;
}

.thankyou{
	h3{
		font-size:50px;
		margin-bottom:10px;
		color:$orange;
		text-align:center;
	}
	h4{
		text-align:center;
		font-size:25px;
		color:$text-brown;
	}
	.promo{
			text-align:center;
			margin-top:40px;
			padding:20px;
			background:#f9f9f9;
			p{
				font-size:30px;
				em{
				
					font-style:italic;
				}
				margin-bottom:20px;
			}
			a{
				@include orange-button;
				margin-bottom:10px;
			}
	}
}

#payment-form{
	display:none;
}

@import "_simple_footer.css.scss";
@import "_order_table.css.scss";