@import '_mixins.css.scss';


#slider{
	width:940px;
	height:425px;
	margin:0 auto;
	overflow:hidden;
	.slide{
		width:940px;
		height:425px;
		margin:0 auto;
		position:relative;
		&.video{
			background:black;
		}
	}
}

#slider-thumbs{
	width:940px;
	margin:10px auto;
	ul{
		width:940px;
		overflow:hidden;
	}
	a{
		color:$text-green2;
		font-weight:normal;
		text-decoration:none;
		cursor:pointer;
	}
	li{
		float:left;
		width:150px;
		margin-right:8px;
		text-align:center;
		overflow:hidden;
		&:last-child{
			margin-right:0;
		}
		img{
			margin-bottom:10px;
		}
		h5{
			text-transform:uppercase;
			text-decoration:none;
			font-weight:normal;
		}
	}
}

#slide-1{
	background:url(slider_images/uttermost_1.jpg) no-repeat;
}

#slide-2{
	background:url(slider_images/uttermost_2.jpg) no-repeat;
}

#slide-4{
	background:url(slider_images/open.jpg) no-repeat left top white;
	div{
		float:right;
		width:306px;
		text-align:center;
	}
	img{
		margin-top:70px;
	}
	p,h4{
		font-size:20px;
		line-height:2;
	}
	h4{
		text-transform:uppercase;
	}	
}

#slide-5{
	background:url(slider_images/laz1.jpg) no-repeat;
	img{
		position:absolute;
	}
}

#slide-6{
	background:url(slider_images/laz2.jpg) no-repeat;
	img{
		position:absolute;
	}
}

.plus{
	display:block;
	font-family:Arial;
	color:white;
	background:black;
	@include border-radius(26px,26px,26px,26px);
	opacity:0.6;
	font-size:26px;
	position:absolute;
	text-decoration:none;
	@include transition-03s;
	width:26px;
	height:26px;
	text-align:center;
	line-height:26px;
	-webkit-backface-visibility: hidden;    
	&:hover{
		opacity:1;
	}
}

#slide-1-plus-1{
	top:100px;
	left:100px;
}

#slide-1-plus-2{
	top:137px;
	left:211px;
}

#slide-1-plus-3{
	top:123px;
	left:290px;
}

#slide-1-plus-4{
	top:300px;
	left:170px;
}

#slide-1-plus-5{
	top:173px;
	left:441px;
}

#slide-1-plus-6{
	top:22px;
	left:770px;
}

#slide-1-plus-7{
	top:320px;
	left:416px;
}

#slide-1-plus-8{
	top:295px;
	left:790px;
}

#slide-1-plus-9{
	top:224px;
	left:810px;
}

#slide-1-plus-10{
	top:273px;
	left:899px;
}

#slide-1-plus-10{
	top:276px;
	left:895px;
}

#slide-2-plus-1{
	top:300px;
	left:90px;
}

#slide-2-plus-2{
	top:236px;
	left:35px;
}

#slide-2-plus-3{
	top:137px;
	left:211px;
}

#slide-2-plus-4{
	top:192px;
	left:290px;
}

#slide-2-plus-5{
	top:42px;
	left:270px;
}

#slide-2-plus-6{
	top:222px;
	left:490px;
}

#slide-2-plus-7{
	top:226px;
	left:647px;
}

#slide-2-plus-8{
	top:336px;
	left:377px;
}

#slide-2-plus-9{
	top:218px;
	left:755px;
}

#slide-2-plus-10{
	top:118px;
	left:570px;
}

#advantages{
	border-top:2px solid #a5a99a;
	width:980px;
	margin:0 auto;
	color:$text-green;
	height:22px;
	line-height:22px;
	padding-top:10px;
	text-align:center;
}

#about-us{
	width:980px;
	margin:0 auto;
	text-align:center;
	p,li{
		line-height:1.5;
	}
	h3{
		text-align:center;
		background: url(csill.png) no-repeat 470px center $background-green;
		font-size:16px;
		font-weight:normal;
		@include font-gill;
		font-weight:normal;
		border-left:10px solid $orange;
		padding:10px;
		color:$text-brown2;
	}
	h4{
		color:$orange;
		margin:10px 0;
		font-weight:normal;
		font-size:20px;
		&.gray{
			color:$text-gray2;
		}
	}
}

#blog{
	width:980px;
	margin:10px auto;
	border-top:1px solid $gray;
	border-bottom:1px solid $gray;
	overflow:hidden;
	.blog-entry{
		width:490px;
		float:left;
		&:first-child{
			width:489px;
			border-right:1px solid $gray;
		}
	}
}


.promo a{
	display:block;
}

#lazyboy-promo{
	position:relative;
	width:980px;
	height:294px;
	background:url(/assets/home/lazboy.png) no-repeat center;
	h3{
		background:$background-green;
		float:left;
		padding:10px;
		color:$text-brown;
		font-weight:normal;
	}
	.feat{
		position:absolute;
		text-transform:uppercase;
		text-align:center;
	}
	#lab{
		top:215px;
		left:476px;
	}
	#doles{
		top:90px;
		left:195px;
	}
	#emel{
		top:110px;
		left:615px;
	}
}

#lamps-promo{
	margin-top:10px;
	margin-bottom:10px;
	float:left;
	width:575px;
	height:194px;
	background:url(/assets/home/lamps.png) no-repeat center left;
	a{
		text-decoration:none;
	}
	h3{
  		background-color: transparent;
  		background-color: rgba(52, 67, 67, 0.4); 
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66344343,endColorstr=#66344343);
        zoom: 1;
        @include font-gill;
		font-size: 18px;
		padding: 10px;
		color:$text-brown;
		font-weight: normal;
	}
}

#mirrors-promo{
	float:left;
	width:395px;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	height:194px;
	background:url(/assets/home/mirrors.png) no-repeat center left;
	a{
		text-decoration:none;
	}
	h3{
  		background-color: transparent;
  		background-color: rgba(52, 67, 67, 0.4); 
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66344343,endColorstr=#66344343);
        zoom: 1;
        @include font-gill;
		font-size: 18px;
		padding: 10px;
		color:$text-brown;
		font-weight: normal;
	}
}

#store-promo{
	float:left;
	width:330px;
	margin-right:10px;
	h3{
		@include font-gill;
		font-size: 18px;
		padding: 10px;
		color:$text-brown;
		font-weight: normal;
		background:#d2d1d1;
	}
	h4{
		color:$orange;
		font-weight:normal;
		padding-left:10px;
		margin:10px 0;
	}
	p{
		padding-left:10px;
		line-height:1.5;
	}
	a{
		color:$orange;
	}
}

#news-promo{
	float:left;
	width:342px;
	a{
		text-decoration:none;
	}
	h3{
		@include font-gill;
		font-size: 18px;
		padding: 10px;
		color:$text-brown;
		font-weight: normal;
		background:#dedad5;
		text-transform:uppercase;
	}
	h4{
		color:$orange;
		font-weight:normal;
		padding-left:10px;
		margin:10px 0;
	}
	p{
		color:$text-green;
		text-transform:uppercase;
		font-size:22px;
		line-height:1.5;
		clear:both;
		padding:10px;
		&:last-child{
			padding-left:140px;
		}
	}
	.left-arrow{
		@include orange-button-left;
		color:white;
		font-size:40px;
		line-height:50px;
		float:right;
		width:250px;
		text-align:center;
		
	}
}

#facebook-promo{
	float:left;
	margin-right:10px;
	width:288px;
	background:url(bg-f.png) no-repeat center top;
	min-height:100px;
	h3{
		padding:10px;
		font-weight:normal;
		color:$text-brown;
		font-size:18px;
	} 
	h4{
		padding:10px;
		color:white;
		font-size:16px;
		font-weight:normal;
	}

	.fb-like{
		margin-top:20px;
	}
}


.wrap{
	margin-bottom:10px;
}




@import '_sliders.css.scss';