@import '_mixins.css.scss';
@import '_zoom.css.scss';
@import '_product_boxes.css.scss';
@import 'fancybox.css.scss';

@import '_sliders.css.scss';

#product-modals{
	display:none;
}

#szallitas,#fizetes,#garancia{
		width:980px;
		color:$text-brown2;
		h3{
			font-size:22px;
			margin-bottom:20px;
		}
		p{
			line-height:1.5;
		}
	}
	
#product-box{
	margin-top:20px;
}

#product-inner{
	width:980px;
	padding-bottom:20px;
	border-bottom:1px solid $border-gray;
}

#picture-wrap{
	width:440px;
	height:300px;
	padding:10px;
	text-align:center;
}

#current-picture{
	width:440px;
	height:300px;
	text-align:center;
}

#social-buttons{
	border-top:1px solid $border-gray;
	width:450px;
	height:75px;
	line-height:75px;
	div{
		float:left;
		margin:0 5px;
	}
	.fb-like iframe{
		
	}
}

#left-side,#right-side{
	float:left;
}

#left-side{
	width:460px
}

#right-side{
	width:520px;
	padding-top:20px;
}

#product-title{
	background: url(csill.png) no-repeat 470px center $background-green;
	font-weight:normal;
	border-left:10px solid $orange;
	padding:10px;
	color:$text-brown2;
	h2{
		font-size:18px;
		font-weight:normal;
		text-transform:uppercase;
		.sku{
			font-size:12px;
			float:right;
			text-transform:lowercase;
			padding-top:10px;
		}
	}
}

#info-box{
	border-bottom:1px solid $border-gray;
	overflow:hidden;
}

#price p{
	line-height:1.4;
	font-size:22px;
	color:$text-brown2;
	margin-bottom:5px;
	span{
		font-size:24px;
	}
	&.list-price span{
		text-decoration:line-through;
	}
	&.discount-price span{
		color:$orange;
	}
}

#properties-box{
	border-top:1px solid $border-gray;
	padding-top:20px;
	p{
		line-height:2;
		label{
			float:left;
			width:235px;
			margin-right:20px;
		}
	}
}

#add-to-cart{
	@include cart-button;
	font-size:18px;
	margin:20px 0;
}

#add-to-whishlist{
	font-size:14px;
	padding:4px;
	margin-left:20px;
	position:relative;
	top:-5px;
	color:$brand-orange;
	text-decoration:none;
	span{
		color:$text-brown2;
	}
	&.added{
		color:green;
	}
}

#buy-box{
	padding-bottom:20px;
	input[type="number"]{
		width:35px;
	}
	
	p{
		line-height:1.5;
		label{
			margin-right:20px;
		}
	}
	.links{
		a{
			margin-right:20px;
			color:$purple;
		}
	}
}

#short-description{
	padding-top:20px;
	margin-bottom:20px;
	line-height:1.5;
	h2{
		text-transform:uppercase;
	}
}

#expert-advice{
	.ribbon{
		//background:url(ribbon-advice.png) no-repeat;
	}
}





.pbox{
	background:url(http://placekitten.com/g/320/250) center 38px no-repeat;
	width:320px;
	margin-right:10px;
	margin-bottom:20px;
	margin-top:20px;
	&.last{
		margin-right:0;
	}
	float:left;
	height:250px;
		h3{
	  		background-color: transparent;
	  		background-color: rgba(52, 67, 67, 0.4); 
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66344343,endColorstr=#66344343);
	        zoom: 1;
	        @include font-gill;
			font-size: 18px;
			padding: 10px;
			color:$text-brown;
			font-weight: normal;
		}
}






#try-it{
	.ribbon{
		//background:url(ribbon-loc.png) no-repeat;
	}
	.address{
		margin-top:10px;
	}
	strong{
		font-size:15px;
		margin-bottom:15px;
		font-style:italic;
		@include font-gill;
	}
	p{
		line-height:1.5;
		font-size:14px;
	}
	a{
		float:left;
		margin:0px 10px 0px 0px;
		img{
			width:80px;
			height:65px;
			border:5px solid;
		}
	}
}

#specifications{
	p{
		display:block;
		label{
			@include small-caps;
			font-size:17px;
		}
	}
}

#about-designer,#about-manufacturer{
	background:#eeeeee;
	width:480px;
	float:left;
	margin-bottom:20px;
	h4{
		margin:20px 0;
		color:$orange;
		font-family:Verdana;
	}
	h4,p{
		padding:0 10px;
		font-weight:normal;
	}
	h3{
		@include font-gill;
		font-size:18px;
		padding:10px;
		color:$text-brown;
		font-weight:normal;
	}
	p{
	  line-height:1.5;
	}
}

#about-designer{
	margin-right:20px;
	h3{
		background:#888888;
	}
}

#about-manufacturer{
	h3{
		background:#a5a99a;
	}
}