@import '_mixins.css.scss';
@import '_form.css.scss';

#top{
	border-bottom:1px solid $border-gray;
	padding-bottom:20px;
	span{
		float:right;
		color:#60bb78;
		@include small-caps;
		font-size:16px;
		background: url(secure.png) no-repeat left center;
		padding-left:25px;
	}
		margin-bottom:0;
}

#register #top{
	margin-bottom:20px;
}

#register .block{
	width:auto !important;
}

#user_addresses_attributes_0_zip,#user_addresses_attributes_1_zip{
	width:50px;
}

#same_l{
	float:left;
}

#user_addresses_attributes_0_city,#user_addresses_attributes_1_city{
	width: 240px;
}

#user_addresses_attributes_0_additional,#user_addresses_attributes_1_additional,#user_email,#user_password,#user_password_confirmation{
	width: 341px !important;
}