@import '_mixins.css.scss';
@import '_form.css.scss';
@import '_login.css.scss';
@import 'fancybox.css.scss';
@import '_product_modal.css.scss';

#top{
	float:left;
	padding-bottom:20px;
	background:#d2d1d1;
	color:$text-brown;
	padding:10px 20px;
	clear:right;
	margin-bottom:20px;
}


#register #top{
	margin-bottom:20px;
}

#register .block{
	width:auto !important;
}

#register-cta-box{
	background:#F2F7FB;
	// border:1px dashed;
	padding:20px;
	width:400px;
	margin-top:20px;
	height:330px;
	float:left;
	text-align:center;
	h4{
		text-align:center;
		font-size:24px;
		font-style:italic;
		margin-bottom:20px;
		margin-top:0;
	}
	p{
		font-style:italic;
		text-align:center;
		margin-bottom:40px;
		.lead{
			font-style:normal;
		}
	}
	a{
		// @include orange-button;
	}
}

#or{
	@include gray-button;
}

.user_new{
	label{
		margin-bottom:5px !important;
	}
	.forgot{
		display:block;
		text-align:center;
	}
}

#loyalty,#edit-data{
	background:#F2F7FB;
	// border:1px dashed;
	padding:20px;
	width:400px;
	margin-top:20px;
	height:230px;
	float:left;
	text-align:center;
	h4{
		text-align:center;
		font-size:24px;
		font-style:italic;
		margin-bottom:20px;
		margin-top:0;
	}
}

#loyalty{
	margin-right:35px;
	h4{
		margin-top:20px;
	}
	.button{
		// @include orange-button;
		top:20px;
		position:relative;
	}
}

#loyalty-sum{
	font-size:24px;	
	// @include font-gill;
	margin-bottom:20px;
}

#edit-data{
	.button{
		// @include blue-button;
		top:20px;
		position:relative;
	}
}


.username{
	background:none !important;
	
}

.table-wrap{
	margin-top:40px;
	h4{
		// @include font-gill;
		text-transform:uppercase;
		margin-top:0;
		margin-bottom:20px;
		font-weight:bold;
	}
}

.user-table{
	width:100%;
	border:1px solid #c2c2c2;
	thead{
		// @include background-gradient(#fafafa,#efefef);
		th{
			// @include font-gill;
			font-size:14px;
			font-weight:normal;
			padding:10px;
			text-align:left;
		}
	}
	tfoot{
		// @include background-gradient(#fafafa,#efefef);
	}
	tbody{
		a{
			// @include transition-03s;
			&:hover{
				
			}
		}
		tr{
			border-top:1px solid #c2c2c2;
			border-bottom:1px solid #c2c2c2;
			// @include font-gill;
			font-weight:normal;
			font-size:14px;
			&:nth-child(even){
				// @include background-gradient(#f4f5f7,#dee8f4);
			}
		}
		td{
			padding:10px;
		}
	}
}

#tablePagination{
	margin-top:5px;
	padding:5px;
}

#tablePagination_paginater{
	float:right;
	cursor:pointer;
	img{
		margin:-4px 4px;
	}
}

@import "_order_table.css.scss";