@import '_mixins.css.scss';
@import '_form.css.scss';
@import '_login.css.scss';
@import 'fancybox.css.scss';
@import '_product_modal.css.scss';

#top{
	background:#d2d1d1;
	color:$text-brown;
	padding:10px 20px;
	clear:both;
	margin-bottom:20px;
}


#register #top{
	margin-bottom:20px;
}

#register .block{
	width:auto !important;
}

#register-cta-box{
	background:#F2F7FB;
	// border:1px dashed;
	padding:20px;
	width:400px;
	margin-top:20px;
	height:330px;
	float:left;
	text-align:center;
	h4{
		text-align:center;
		font-size:24px;
		font-style:italic;
		margin-bottom:20px;
		margin-top:0;
	}
	p{
		font-style:italic;
		text-align:center;
		margin-bottom:40px;
		.lead{
			font-style:normal;
		}
	}
	a{
		// @include orange-button;
	}
}

#or{
	@include gray-button;
}


#advantages{
	overflow:hidden;
	.third{
		width: 320px;
		margin-right: 10px;
		margin-bottom: 20px;
		margin-top: 20px;
		float: left;
		&.last{
			margin-right:0;
		}
		h3{
			background-color: transparent;
			background-color: rgba(52, 67, 67, 0.4);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66344343,endColorstr=#66344343);
			zoom: 1;
			font-family: "Verdana", sans-serif;
			font-size: 18px;
			padding: 10px;
			color: #2e1301;
			font-weight: normal;
		}
		p{
			margin-top:20px;
			line-height:1.5;
			padding-left:10px;
		}
	}
}



.user_new{
	label{
		margin-bottom:5px !important;
	}
	.forgot{
		display:block;
		text-align:center;
	}
}

#loyalty,#edit-data{
	background:#dbdada;
	// border:1px dashed;
	padding:20px;
	width:400px;
	margin-top:20px;
	height:230px;
	float:left;
	text-align:center;
	h4{
		text-align:center;
		font-size:24px;
		font-style:italic;
		margin-bottom:20px;
		margin-top:0;
	}
}

#loyalty{
	margin-right:100px;
	h4{
		margin-top:20px;
	}
	.button{
		// @include orange-button;
		top:20px;
		position:relative;
	}
	p{
		line-height:1.5;
	}
}

#loyalty-sum{
	font-size:24px;	
	// @include font-gill;
	margin-bottom:20px;
}

#edit-data{
	.button{
		// @include blue-button;
		top:20px;
		position:relative;
	}
	p{
		line-height:1.5;
	}
}


.username{
	background:none !important;
}

.table-wrap{
	margin-top:40px;
	h4{
		background:url(green_arrow_right_long.png) no-repeat;
	width:300px;
	padding-left:13px;
	height:28px;
	color:white;
	font-size:14px;
	line-height:28px;
	font-weight:normal;
	margin:20px 0;
	}
}

.user-table{
	width:100%;
	border:1px solid #c2c2c2;
	thead{
		// @include background-gradient(#fafafa,#efefef);
		th{
			// @include font-gill;
			font-size:14px;
			font-weight:normal;
			padding:10px;
			text-align:left;
		}
	}
	tfoot{
		// @include background-gradient(#fafafa,#efefef);
	}
	tbody{
		a{
			// @include transition-03s;
			&:hover{
				
			}
		}
		tr{
			border-top:1px solid #c2c2c2;
			border-bottom:1px solid #c2c2c2;
			// @include font-gill;
			font-weight:normal;
			font-size:14px;
			&:nth-child(even){
				// @include background-gradient(#f4f5f7,#dee8f4);
			}
		}
		td{
			padding:10px;
		}
	}
}

#tablePagination{
	margin-top:5px;
	padding:5px;
}

#tablePagination_paginater{
	float:right;
	cursor:pointer;
	img{
		margin:-4px 4px;
	}
}



@import "_order_table.css.scss";