<div class="clearfix" id="category-fotelek">
	
	<a href="/fotelek/lazboy" class="box promo full" id="lazboy-promo">
		<h3>La-Z-Boy komfort fotelek</h3>
		<span class="feat" id="doles">Nagy <br> dőlésszög</span>
		<span class="feat" id="lab">Magasított <br> lábak</span>
		<span class="feat" id="emel">Emelhető <br> lábrész</span>
	</a>

	<section id="sidebar">
			<nav id="category-nav">
				<%= render "home/category_menu_left" %>
			</nav>
	</section>

		<section id="promo-list">
			
			
		</section>
</div>