<div class="clearfix" id="category-fotelek">
	<a href="/fotelek/lazboy" class="box promo full" id="lazboy-promo">
		<h3>La-Z-Boy komfort fotelek</h3>
		<span class="feat" id="doles">Nagy <br> dőlésszög</span>
		<span class="feat" id="lab">Magasított <br> lábak</span>
		<span class="feat" id="emel">Emelhető <br> lábrész</span>
	</a>
	<div class="clearfix">
		<section id="sidebar">
			<nav id="category-nav">
				<%= render "home/category_menu_left" %>
			</nav>
		</section>

		<section id="promo-list">
			<div id="big">
				
			</div>
			<div id="side">
				<a href="#" class="product">
					<img alt="Medium_23073" class="class" src="/uploads/photo/image_file/medium_23073.jpg" title="sandy, wing chair">
				</a>
				<a href="#" class="product">
					<img alt="Medium_23073" class="class" src="/uploads/photo/image_file/medium_23073.jpg" title="sandy, wing chair">
				</a>
				<a href="#" class="product">
					<img alt="Medium_23073" class="class" src="/uploads/photo/image_file/medium_23073.jpg" title="sandy, wing chair">
				</a>
				<a href="#" class="product">
					<img alt="Medium_23073" class="class" src="/uploads/photo/image_file/medium_23073.jpg" title="sandy, wing chair">
				</a>
				<a href="#" class="product">
					<img alt="Medium_23073" class="class" src="/uploads/photo/image_file/medium_23073.jpg" title="sandy, wing chair">
				</a>
			</div>
		</section>
	</div>
	<div class="clearfix" id="promos">
		<a href="/lampak" class="box promo" id="hintazo-promo">
			<h3>Hintázó komfort fotelek</h3>
		</a>

		<a href="/mirrors" class="box promo" id="magaslabu-promo">
			<h3>Magas lábú komfort fotelek</h3>
		</a>
		<a href="/lampak" class="box promo" id="masfel-promo">
			<h3>1.5 személyes fotelek</h3>
		</a>
		
		<div class="clearfix">
			<a href="/lampak" class="box promo" id="utm-promo">
				<h3>Uttermost fotelek</h3>
			</a>

			<a href="/mirrors" class="box promo" id="bor-promo">
				<h3>Bőr fotelek</h3>
			</a>
		</div>
	</div>
</div>