<div class="clearfix" id="category-fotelek">
	<a href="/fotelek/lazboy" class="box promo full" id="lazboy-promo">
		<h3>La-Z-Boy komfort fotelek</h3>
		<span class="feat" id="doles">Nagy <br> dőlésszög</span>
		<span class="feat" id="lab">Magasított <br> lábak</span>
		<span class="feat" id="emel">Emelhető <br> lábrész</span>
	</a>
	<div class="clearfix">
		<section id="sidebar">
			<nav id="category-nav">
				<%= render "home/category_menu_left" %>
			</nav>
		</section>

		<section id="sub-list">
			<div class="sub" id="sub-hinta">
				<h3>Hintázó komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-forgo">
				<h3>Forgó komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-fal">
				<h3>Fal mellé állítható komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-falforgo">
				<h3>Fal mellé állítható, forgó komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-motoros">
				<h3>Motoros komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-magas">
				<h3>Magas lábú komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-falforgo">
				<h3>Fal mellé állítható, forgó komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-motoros">
				<h3>Motoros komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-magas">
				<h3>Magas lábú komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-falforgo">
				<h3>Fal mellé állítható, forgó komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-motoros">
				<h3>Motoros komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-magas">
				<h3>Magas lábú komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-falforgo">
				<h3>Fal mellé állítható, forgó komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-motoros">
				<h3>Motoros komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-magas">
				<h3>Magas lábú komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-falforgo">
				<h3>Fal mellé állítható, forgó komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-motoros">
				<h3>Motoros komfort fotelek</h3>
			</div>
			<div class="sub" id="sub-magas">
				<h3>Magas lábú komfort fotelek</h3>
			</div>
		</section>
	</div>
	<div id="tab-wrap" class="tab-container">
		<ul class="etabs">
		  <li class="tab">
		    <a href="#tab-1">Tab 1</a>
		  </li>
		  <li class="tab">
		  	<a href="#tab-2">Tab 2</a>
		  </li>
		  <li class="tab">
		    <a href="#tab-3">Tab 3</a>
		  </li>
		  <li class="tab">
		    <a href="#tab-4">Tab 4</a>
		  </li>
		  <li class="tab">
		    <a href="#tab-5">Tab 5</a>
		  </li>
		  <li class="tab">
		    <a href="#tab-6">Tab 6</a>
		  </li>
		</ul>
		<div class="tab-div" id="tab-1">1</div>
		<div class="tab-div" id="tab-2">2</div>
		<div class="tab-div" id="tab-3">3</div>
		<div class="tab-div" id="tab-4">4</div>
		<div class="tab-div" id="tab-5">5</div>
		<div class="tab-div" id="tab-6">6</div>
	</div>
</div>