<div>
	<p>Kedves <%= @resource.email %>!</p>

	<p>www.flairspring.hu weboldalunkon jelszava visszaállítását kérte.</p>

	<p><%= link_to 'Jelszó visszaállítása', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

	<p>Amennyiben nem Ön kérte ezt az emailt, hagyja figyelmen kívül.</p>
	<p>Jelszava mindaddig változatlan marad, amíg a fenti linkre nem kattint.</p>
</div>