<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <table cellspacing="0" cellpadding="0" border="0" height="475" width="600" background="http://beta2.flairspring.hu/jelszo_modositas_blank.jpg" style="border-collapse: collapse; border-spacing: 0; display: block;">
      <tr height="170">
        <td></td>
      </tr>
      <tr height="25">
        <td width="60"></td>
        <td width="480">
          <font size="3px"><p style="margin: 0;">Kedves <%= @resource.email %>!</p></font>
        </td>
        <td width="60"></td>
      </tr>
      <tr height="65">
        <td width="90"></td>
        <td width="420">
          <font size="3px"><p style="margin: 0;">A Flairspring webshopján (www.flairspring.hu) jelszava megváltoztatását kérte. Kérjük, kattintson az alábbi linkre a jelenlegi jelszó megváltoztatásához.</p></font>
        </td>
        <td width="90"></td>
      </tr>
      <tr height="14"></tr>
      <tr height="15">
        <td width="90"></td>
        <td width="420">
          <font size="3px"><p style="margin: 0;"><%= link_to 'Jelszó visszaállítása', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p></font>
        </td>
        <td width="90"></td>
      </tr>
      <tr height="5"></tr>
      <tr height="5">
        <td width="90"></td>
        <td width="420">
          <font size="3px"><p style="margin: 0;">Amennyiben nem Ön kérte jelszava megváltoztatását, kérjük ezt az e-mailt hagyja figyelmen kívül. Jelszava mindaddig változatlan marad, ameddig az új jelszó aktiválásához szükséges linkre rá nem kattint.</p></font>
        </td>
        <td width="90"></td>
      </tr>
      <tr height="8"></tr>
      <tr>
      	<td width="90"></td>
      	<td>Üdvözlettel:</td>
      	<td width="90"></td>
      </tr>
      <tr>
      	<td width="90"></td>
      	<td>Flairspring</td>
      	<td width="90"></td>
      </tr>
      <tr>
      	<td width="90"></td>
      	<td>ugyfelszolgalat@flairspring.hu</td>
      	<td width="90"></td>
      </tr>
    </table>
  </body>
</html>