<section class="box full how">
	<h3>A hírlevélre való feliratkozásért kapott kupon felhasználási szabályai</h3>
	<p>
		<ul>
			<li>A hírlevélre való feliratkozáskor a Flairspring Kft. emailen elküld egy 5 karakterből álló kuponkódot a feliratkozó által megadott email címre.</li>
			<li>A Flairspring Kft. ugyancsak a hírlevél feliratkozáskor megadott email címen értesíti a feliratkozót arról, hogy a www.flairspring.hu címen található online bolt elindult.</li>
			<li>Az online bolt elindulása után a feliratkozó bármikor, de legkésőbb 2012. december 31-ig, felhasználhatja a fenti 5 karakterből álló kuponkódot. A kuponkódot a kosár oldalon tudja érvényesíteni a vásárló.</li>
			<li>A 2000 Ft értékű kupont csak a Flairspring.hu online boltban való vásárláskor lehet felhasználni, az online boltban közvetlenül megrendelhető termékek vásárlásakor.</li>
			<li>Minden egyes 2000 Ft-os kuponkód csak egyszer használható fel és csak a hírlevél feliratkozáskor megadott email címmel együtt érvényes.</li>
			<li>Minden regisztrált email címre kiküldésre kerül egy 2000 Ft-os kupon, de vásárlásonként csak egy kupon kód használható fel.</li>
		</ul>
	</p>
	<h3>Adatvédelmi nyilatkozat</h3>
	<p>Jelen honlap fenntartója (továbbiakban: Adatkezelõ) vállalja, hogy a honlapon hírlevélre való feliratkozás során személyes adatot nyújtó személy (továbbiakban: Felhasználó) adatait bizalmasan, a személyes adatok védelméről szóló jogszabályoknak megfelelően kezeli.</p>
	<p>Felhasználó kijelenti, hogy a hírlevélre való feliratkozáshoz szükséges személyes adatainak megadásával önkéntesen hozzájárul, hogy Adatkezelő adatait kezelje, gyűjtse, rögzítse, tárolja, rendszerezze, felhasználja.</p>
	<p>Felhasználó a hírlevélre való feliratkozással kifejezetten és közvetlenül hozzájárul, hogy Adatkezelő direkt marketing célú, elektronikus hírlevelet küldjön Felhasználó részére.</p>
	<p>Felhasználó a hírlevélre való feliratkozáskor megadott  e-mail címen kaphat megkeresést Adatkezelőtől.</p>

	<h4>Adatkezelő által kezelendő adatok köre</h4>
	<p>A hírlevélre való feliratkozáshoz kötelezően megadott adatok, vagyis a Felhasználó neve és e-mail címe.</p>

	<h4>Az adatkezelés célja</h4>
	<p>Adatkezelő Felhasználó személyes adatait Felhasználó jogosultságának azonosítása és a jogosulatlan felhasználók kiszűrése, Felhasználó tájékoztatása illetőleg a kért hírlevelek elküldése céljából gyűjti és kezeli. Felhasználó által megadott adatok ezen felül segítik az Adatkezelőt, hogy a honlap szerkezetét, külalakját felhasználóbarát módon alakítsa ki. Adatkezelő vállalja, hogy csak olyan személyes adatot kezel, amely a fenti cél megvalósulásához elengedhetetlen, a cél elérésére alkalmas, a szükséges mértékben és ideig.</p>

	<h4>Hozzájáruló nyilatkozat visszavonása</h4>
	<p>Az adatkezelést Felhasználó hozzájáruló nyilatkozatának visszavonásával megszűntetheti. Felhasználó hozzájáruló nyilatkozatát bármikor korlátozás és indokolás nélkül, ingyenesen visszavonhatja (leiratkozás), a kapott hírlevélben megjelölt linkre kattintással / Adatkezelő leiratkozas@flairspring.hu e-mail címére küldött e-maillel, és/vagy Adatkezelő 1054 Bp. Szabadság tér 14. címére küldött postai küldeménnyel, úgy hogy Felhasználót Adatkezelő egyértelműen azonosítani tudja. Adatkezelő Felhasználó visszavonó nyilatkozatát követően haladéktalanul törli Felhasználó minden megadott személyes adatát és Felhasználó részére a továbbiakban nem küld megkeresést.</p>

	<h4>Adatvédelem</h4>
	<p>Adatkezelő gondoskodik Felhasználó személyes adatainak biztonságáról, védi Felhasználó személyes adatait különösen a jogosulatlan hozzáféréstől, a megváltoztatás, továbbítás, nyilvánosságra hozatal, törlés vagy megsemmisítés, valamint a véletlen megsemmisülés és sérülés ellen. Adatkezelő a személyes adatokat Felhasználó kifejezett hozzájárulása nélkül nem adja tovább harmadik személynek.</p>

	<h4>Felhasználó jogai</h4>
	<p>Adatkezelő gondoskodik Felhasználó személyes adatainak biztonságáról, védi Felhasználó személyes adatait különösen a jogosulatlan hozzáféréstől, a megváltoztatás, továbbítás, nyilvánosságra hozatal, törlés vagy megsemmisítés, valamint a véletlen megsemmisülés és sérülés ellen. Adatkezelő a személyes adatokat Felhasználó kifejezett hozzájárulása nélkül nem adja tovább harmadik személynek.</p>

	<p><a href="/">Vissza</a></p>

</section>	